<h1>Horários</h1>

<h2>
<%= @info %>
</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, nihil maxime expedita nisi eaque similique a unde voluptates beatae optio autem vitae harum molestias eligendi architecto, odio natus assumenda atque.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, nihil maxime expedita nisi eaque similique a unde voluptates beatae optio autem vitae harum molestias eligendi architecto, odio natus assumenda atque.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, nihil maxime expedita nisi eaque similique a unde voluptates beatae optio autem vitae harum molestias eligendi architecto, odio natus assumenda atque.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, nihil maxime expedita nisi eaque similique a unde voluptates beatae optio autem vitae harum molestias eligendi architecto, odio natus assumenda atque.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, nihil maxime expedita nisi eaque similique a unde voluptates beatae optio autem vitae harum molestias eligendi architecto, odio natus assumenda atque.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, nihil maxime expedita nisi eaque similique a unde voluptates beatae optio autem vitae harum molestias eligendi architecto, odio natus assumenda atque.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, nihil maxime expedita nisi eaque similique a unde voluptates beatae optio autem vitae harum molestias eligendi architecto, odio natus assumenda atque.</p>