<div id="<%= dom_id ticket %>">
  <p>
    <strong>Tittle:</strong>
    <%= ticket.tittle %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= ticket.price %>
  </p>

  <p>
    <strong>Desciption:</strong>
    <%= ticket.desciption %>
  </p>

</div>
